.wraper2 .loading-circle {
  list-style: none;
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  /*border:1px solid #000;*/ }

.loading-circle li {
  position: absolute;
  left: 0;
  top: 10%;
  width: 15%;
  height: 30%;
  display: inline-block;
  padding: 0;
  transform-origin: 150% 150%; }

.loading-circle li::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.loading-circle li:nth-child(1) {
  transform: rotate(30deg);
  -webkit-animation: gear-1 3s linear infinite; }

@-webkit-keyframes gear-1 {
  100% {
    transform: rotate(360deg); } }

.loading-circle li:nth-child(2) {
  transform: rotate(60deg);
  -webkit-animation: gear-2 3s linear infinite; }

@-webkit-keyframes gear-2 {
  100% {
    transform: rotate(390deg); } }

.loading-circle li:nth-child(3) {
  transform: rotate(90deg);
  -webkit-animation: gear-3 3s linear infinite; }

@-webkit-keyframes gear-3 {
  100% {
    transform: rotate(420deg); } }

.loading-circle li:nth-child(4) {
  transform: rotate(120deg);
  -webkit-animation: gear-4 3s linear infinite; }

@-webkit-keyframes gear-4 {
  100% {
    transform: rotate(450deg); } }

.loading-circle li:nth-child(5) {
  transform: rotate(150deg);
  -webkit-animation: gear-5 3s linear infinite; }

@-webkit-keyframes gear-5 {
  100% {
    transform: rotate(480deg); } }

.loading-circle li:nth-child(6) {
  transform: rotate(180deg);
  -webkit-animation: gear-6 3s linear infinite; }

@-webkit-keyframes gear-6 {
  100% {
    transform: rotate(510deg); } }

.loading-circle li:nth-child(7) {
  transform: rotate(210deg);
  -webkit-animation: gear-7 3s linear infinite; }

@-webkit-keyframes gear-7 {
  100% {
    transform: rotate(540deg); } }

.loading-circle li:nth-child(8) {
  transform: rotate(240deg);
  -webkit-animation: gear-8 3s linear infinite; }

@-webkit-keyframes gear-8 {
  100% {
    transform: rotate(570deg); } }

.loading-circle li:nth-child(9) {
  transform: rotate(270deg);
  -webkit-animation: gear-9 3s linear infinite; }

@-webkit-keyframes gear-9 {
  100% {
    transform: rotate(600deg); } }

.loading-circle li:nth-child(10) {
  transform: rotate(300deg);
  -webkit-animation: gear-10 3s linear infinite; }

@-webkit-keyframes gear-10 {
  100% {
    transform: rotate(630deg); } }

.loading-circle li:nth-child(11) {
  transform: rotate(330deg);
  -webkit-animation: gear-11 3s linear infinite; }

@-webkit-keyframes gear-11 {
  100% {
    transform: rotate(660deg); } }

.loading-circle li:nth-child(12) {
  transform: rotate(360deg);
  -webkit-animation: gear-12 3s linear infinite; }

@-webkit-keyframes gear-12 {
  100% {
    transform: rotate(690deg); } }

.wraper2 .loading-windmills {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  list-style: none; }

.loading-windmills > li:not(:nth-child(n+5)) {
  position: absolute;
  height: 150px;
  border-left: 2px solid #919092;
  transform-origin: 0% 0%;
  z-index: 999; }

.loading-windmills > li:not(:nth-child(n+5))::after {
  content: ' ';
  display: block;
  position: absolute;
  top: -150px;
  left: -2px;
  width: 50px;
  height: 50px;
  background-color: #51DDDC;
  padding: 0;
  margin: 0;
  border: 0; }

.loading-windmills > .body {
  position: absolute;
  z-index: 10;
  left: -85px;
  height: 0px;
  width: 50px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid #fff; }

.loading-windmills > .body::after {
  content: ' ';
  width: 0;
  height: 0; }

.loading-windmills > li:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation: wind-fly-1 3s linear infinite; }

@-webkit-keyframes wind-fly-1 {
  100% {
    transform: rotate(360deg); } }

.loading-windmills > li:nth-child(2) {
  transform: rotate(90deg);
  -webkit-animation: wind-fly-2 3s linear infinite; }

@-webkit-keyframes wind-fly-2 {
  100% {
    transform: rotate(450deg); } }

.loading-windmills > li:nth-child(3) {
  transform: rotate(180deg);
  -webkit-animation: wind-fly-3 3s linear infinite; }

@-webkit-keyframes wind-fly-3 {
  100% {
    transform: rotate(540deg); } }

.loading-windmills > li:nth-child(4) {
  transform: rotate(270deg);
  -webkit-animation: wind-fly-4 3s linear infinite; }

@-webkit-keyframes wind-fly-4 {
  100% {
    transform: rotate(630deg); } }

.loading-windmills > .window {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: #33495f;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 999; }

.loading-windmills > .window::before {
  content: ' ';
  display: block;
  width: 35px;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 17px; }

.loading-windmills > .window::after {
  content: ' ';
  display: block;
  height: 35px;
  border-left: 2px solid #fff;
  position: absolute;
  left: 17px; }

.loading-windmills > .door {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 30px;
  height: 50px;
  background-color: #33495f;
  border: none;
  z-index: 90; }

.wraper2 .loading-circle2 {
  list-style: none;
  position: absolute;
  left: 70%;
  top: 3%;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
  /*border:1px solid #000;*/ }

.loading-circle2 li {
  position: absolute;
  left: 0;
  top: 10%;
  width: 15%;
  height: 15%;
  display: inline-block;
  padding: 0;
  transform-origin: 200% 300%; }

.loading-circle2 li::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff; }

.loading-circle2 li:nth-child(1) {
  transform: rotate(30deg); }

.loading-circle2 li:nth-child(1)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-1 1.5s 0s linear infinite; }

@-webkit-keyframes SH-circle-1 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(2) {
  transform: rotate(60deg); }

.loading-circle2 li:nth-child(2)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-2 1.5s 0.125s linear infinite; }

@-webkit-keyframes SH-circle-2 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(3) {
  transform: rotate(90deg); }

.loading-circle2 li:nth-child(3)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-3 1.5s 0.25s linear infinite; }

@-webkit-keyframes SH-circle-3 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(4) {
  transform: rotate(120deg); }

.loading-circle2 li:nth-child(4)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-4 1.5s 0.375s linear infinite; }

@-webkit-keyframes SH-circle-4 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(5) {
  transform: rotate(150deg); }

.loading-circle2 li:nth-child(5)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-5 1.5s 0.5s linear infinite; }

@-webkit-keyframes SH-circle-5 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(6) {
  transform: rotate(180deg); }

.loading-circle2 li:nth-child(6)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-6 1.5s 0.625s linear infinite; }

@-webkit-keyframes SH-circle-6 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(7) {
  transform: rotate(210deg); }

.loading-circle2 li:nth-child(7)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-7 1.5s 0.75s linear infinite; }

@-webkit-keyframes SH-circle-7 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(8) {
  transform: rotate(240deg); }

.loading-circle2 li:nth-child(8)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-8 1.5s 0.875s linear infinite; }

@-webkit-keyframes SH-circle-8 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(9) {
  transform: rotate(270deg); }

.loading-circle2 li:nth-child(9)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-9 1.5s 1s linear infinite; }

@-webkit-keyframes SH-circle-9 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(10) {
  transform: rotate(300deg); }

.loading-circle2 li:nth-child(10)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-10 1.5s 1.125s linear infinite; }

@-webkit-keyframes SH-circle-10 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(11) {
  transform: rotate(330deg); }

.loading-circle2 li:nth-child(11)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-11 1.5s 1.25s linear infinite; }

@-webkit-keyframes SH-circle-11 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.loading-circle2 li:nth-child(12) {
  transform: rotate(360deg); }

.loading-circle2 li:nth-child(12)::after {
  transform: scale(0, 0);
  -webkit-animation: SH-circle-12 1.5s 1.375s linear infinite; }

@-webkit-keyframes SH-circle-12 {
  25% {
    transform: scale(1, 1); }
  50%, 100% {
    transform: scale(0, 0); } }

.wraper2 .loading-rect {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 100px;
  height: 100px;
  list-style: none; }

.wraper2 .loading-rect li {
  float: left;
  margin-left: 5px;
  width: 8px;
  height: 30px;
  background-color: #fff; }

.wraper2 .loading-rect li:nth-child(1) {
  -webkit-animation: rect-scale 1s 0.2s linear infinite; }

.wraper2 .loading-rect li:nth-child(2) {
  -webkit-animation: rect-scale 1s 0.4s linear infinite; }

.wraper2 .loading-rect li:nth-child(3) {
  -webkit-animation: rect-scale 1s 0.6s linear infinite; }

.wraper2 .loading-rect li:nth-child(4) {
  -webkit-animation: rect-scale 1s 0.8s linear infinite; }

.wraper2 .loading-rect li:nth-child(5) {
  -webkit-animation: rect-scale 1s 1s linear infinite; }

@-webkit-keyframes rect-scale {
  20% {
    -webkit-transform: scale(1, 1.8); }
  40%, 100% {
    -webkit-transform: scale(1, 1); } }
