body{
	background:#33495f;
	width:100%;
	height:100%;
	font-family: 'Raleway Dots', cursive;
}
*{
	margin:0;
	padding:0;
}
.table{
	position: relative;
	top:50px;
	width: 100%;
	border-color: #6C87B2;
	height: 30px;
	padding: 0 10px 0 10px;
	tr{
		width: 100%;
		td{
			width: 33%;
			padding: 5px;
			text-align: center;
			cursor: pointer;
		}
	}
}
.more-msg{
	position:absolute;
	border: 1px solid #97979C;
	height:20px;
	min-width:50px;
	padding: 2px 5px 2px 5px;
	border-radius:5px;
	background-color:#97979C;
	span{
		display: block;
		text-align: center;
		color:#ffffff;
	}
}
.more-msg:after{
	content:' ';
		position: relative;
		top: 10px;
		left: 30%;
	   width: 0;
	   height: 0;
	   border-top: 10px solid #97979C;
	   border-right: 10px solid transparent;
	   border-left: 10px solid transparent;
}

.panorama {
	position: absolute;
	left: 0;
	top: 0;
	right: 0; 
	bottom: 0;
	width:80%;
	height:600px;
	background:url('../img/panorama.png') repeat-x;
	animation:panorama 10s linear infinite alternate;
	animation-play-state:paused;
	box-shadow: 0 0 100px #ccc;
	margin:auto;
	@at-root{
		@keyframes panorama{
			to{
				background-position:100% 0;
			}
		}
	}
}
.panorama:hover{
	animation-play-state:running;
}

.rotate{
	.process{
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		border-radius:5px;
		margin:0 auto;
		color:#fff;
		width: 80%;
		height: 15px;
		background-color:#ccc;
		.process-bar{
			display: inline-block;
			vertical-align: top;
			width: 2%;
			height: 15px;
			background-color:#DE5656;
			margin-right: 10px;
			border-radius:5px 0 0 5px ;
		}
		.process-text{
			display: inline-block;
			position: absolute;
			left: 2px;
			color:#fff;
			font-size: 10px;
			vertical-align: top;
			height: 15px;
			line-height: 15px;
		}
	}
	.rotate-box{
		display: inline-block;
		width: 50%;
		height: 80%;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin:auto;
		opacity: 0;
		font-size: 22px;
		color: #fff;
		text-align: center;
		-webkit-transform-style: preserve-3d;
		transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
		transform-origin: 50% 50%  -200px;
		&.to-left{
			transform: rotateY(-120deg);
		}
		&.to-right{
			transform: rotateY(120deg);
		}
		&.view-box{
			opacity: 1;
		}
		&.clear-center{
			text-align: start;
		}
		&.sohu{
			padding-top: 100px;
		}
		&.qrcode{
			margin-top: 200px;
			div{
				display: inline-block;
				width: 200px;
				box-sizing:border-box;
				height: 200px;
				&.wechat{
					opacity: 0;
					margin-top: 30px;
					animation:fadeIn 0.8s 1.2s cubic-bezier(0.26, 0.86, 0.44, 0.985) forwards;
					background:url(../img/wechat.png) no-repeat;
					background-size:200px;
					margin-right: 20px;
				}
				&.qq{
					opacity: 0;
					margin-top: 30px;
					animation:fadeIn 0.8s 1.2s cubic-bezier(0.26, 0.86, 0.44, 0.985) forwards;

					background:url(../img/qq.png) no-repeat;
					background-size:200px;
				}
				&.href{
					display: block;
					width: 80%;
					margin:auto;
					padding-top: 50px;
					a{
						display: block;
						color:#fff;
					}
				}
			}
		}
		.step{
			width: 100%;
			opacity: 0;
			margin-top: 7px;
			transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
			&.view-step{
				margin-top: 0px;
				opacity: 1;
			}
			div{
				margin-top: 10px;
			}
			.self-bc{
				width: 200px;
				height: 200px;
				border-radius:100px;
				background-color:#fff;
				background: url(../img/myself.JPG) no-repeat -50px -100px;
				margin: auto;
				background-size: 300px;
			}
			.location{
				span{
					display: inline-block;
					vertical-align: middle;
				}
				.location-bc{
					width: 30px;
					height: 30px;
					background:url(../img/location.png) no-repeat;
					background-size:30px;
				}
				.name{
					vertical-align: bottom;
					margin-left: 40px;
				}
			}
			.position{
				opacity: 0;
				margin-top: 30px;
				animation:fadeIn 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985) forwards;
			}
			.other{
				opacity: 0;
				margin-top: 30px;
				animation:fadeIn 0.8s 0.6s cubic-bezier(0.26, 0.86, 0.44, 0.985) forwards;
			}
			.contact{
				margin-top: 20px;
				div{
					opacity: 0;
					margin-top: 30px;
					animation:fadeIn 0.8s 1s cubic-bezier(0.26, 0.86, 0.44, 0.985) forwards;
					span{
						display: inline-block;
						&.title{
							text-align: right;
							width: 100px;
							margin-right: 15px;
						}
						&.body{
							width: 250px;
							text-align: left;
						}
					}
				}
			}
			.warrer{
				opacity: 0;
				margin-top:50px;
			}
			.project{
				.head{
					span{
						display: inline-block;
						&.time{
							width: 190px;
						}
						&.company{
							width: 300px;
						}
						&.company-logo{
							// width: 100px;
						}
					}
				}
				.body{
					ol{
						display: inline-block;
						margin-left:21px;
					}
				}
			}
			@at-root{
				@keyframes fadeIn{
					0{margin-top:30px;}
					100%{opacity: 1;margin-top:10px}
				}
			}
		}
	}
}
.ball{
	$w:600px;
	width:$w;
	height:$w;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background-color:#fff;
	text-align:center;
	$second:5s;
	$end:7;
	$start:1;
	$or:-10;
	$px:1px;
	@for $i from $start through $end{
		div.row:nth-child(#{$i}){
			@if $i < ($end+$start)/2{
				transform-origin: 50% 50%  $or*(-$start+$i)*$px;
			} @else{
				transform-origin: 50% 50%  $or*(-$i+$end)*$px;
			}
			animation: radius-rotate $second  linear infinite;
		}
	}
	@keyframes radius-rotate{
		0{transform:rotateY(0deg)}
		100% {transform:rotateY(360deg)}
	}
	div.row{
		transition:all 300ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
		-webkit-transform-style: preserve-3d;
		cursor: pointer;
	}
}