body {
  background: #33495f; }

.wrapper {
  display: block;
  width: 100%;
  height: 700px; }
  .wrapper .video {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 30%; }
    .wrapper .video video {
      width: 100%; }
  .wrapper .action-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 70%; }
    .wrapper .action-btn .btn {
      margin-top: 100px;
      display: inline-block;
      width: 48%;
      height: 300px;
      line-height: 280px;
      font-size: 28px;
      text-align: center; }
      .wrapper .action-btn .btn:first-child {
        margin-left: 2%; }

.imagebox canvas {
  display: none; }
