@charset "UTF-8";
div.user {
  height: auto;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #e4e4e5;
  border-top: 0;
  margin-top: 30px;
  margin-bottom: 200px; }
  div.user ul li {
    min-height: 64px;
    overflow: hidden;
    border-top: 1px solid #e4e4e5;
    position: relative; }
    div.user ul li span.t {
      width: 160px;
      height: 64px;
      overflow: hidden;
      display: inline-block;
      font: 18px/64px "微软雅黑", Helvetica, Microsoft YaHei;
      color: #595758;
      position: absolute;
      left: 16px;
      top: 0; }
    div.user ul li div.c {
      min-height: 64px;
      overflow: hidden;
      margin-left: 176px; }
      div.user ul li div.c a.b {
        color: #7d7d7e;
        text-decoration: none;
        display: inline-block;
        height: 64px;
        overflow: hidden;
        float: right;
        padding-right: 14px;
        margin-right: 15px;
        background: url("../images/b.jpg") no-repeat right center;
        position: absolute;
        right: 0;
        top: 0; }
      div.user ul li div.c a.sq {
        color: #7d7d7e;
        text-decoration: none;
        display: inline-block;
        height: 64px;
        overflow: hidden;
        float: right;
        padding-right: 14px;
        margin-right: 15px;
        background: url("../images/sq.jpg") no-repeat right center;
        position: absolute;
        right: 0;
        top: 0;
        display: none; }
      div.user ul li div.c .w1 {
        font: 12px/64px "微软雅黑", Helvetica, Microsoft YaHei;
        padding-left: 75px;
        color: #9e9e9f;
        height: auto;
        overflow: hidden;
        position: relative;
        padding-right: 60px; }
        div.user ul li div.c .w1 img {
          height: 46px;
          width: 46px;
          margin-top: 12px;
          vertical-align: top; }
      div.user ul li div.c .w2 {
        font: 12px/64px "微软雅黑", Helvetica, Microsoft YaHei;
        padding-left: 75px;
        color: #595758;
        height: auto;
        overflow: hidden;
        position: relative;
        padding-right: 60px; }
        div.user ul li div.c .w2 img {
          height: 40px;
          margin-top: 12px;
          vertical-align: top; }
    div.user ul li div.h {
      height: auto;
      overflow: hidden;
      border-top: 1px solid #e4e4e5;
      padding-left: 176px;
      padding-top: 25px; }
      div.user ul li div.h dl dd {
        min-height: 30px;
        padding-bottom: 28px;
        overflow: hidden;
        padding-left: 115px;
        position: relative; }
        div.user ul li div.h dl dd span {
          width: 115px;
          height: 30px;
          overflow: hidden;
          position: absolute;
          left: 0;
          top: 0;
          font: 16px/30px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #595758; }
        div.user ul li div.h dl dd input {
          height: 28px;
          border: 1px solid #e4e4e5;
          outline: none;
          width: 360px;
          font: 14px/28px "微软雅黑", Helvetica, Microsoft YaHei;
          padding: 0 10px;
          color: #595758;
          vertical-align: top; }
        div.user ul li div.h dl dd textarea {
          width: 380px;
          min-height: 80px;
          border: 1px solid #e4e4e5;
          outline: none;
          font: 16px/28px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #595758; }
        div.user ul li div.h dl dd p {
          width: 380px;
          height: 30px;
          font: 16px/30px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #595758; }
          div.user ul li div.h dl dd p a {
            color: #e4b226;
            text-decoration: none;
            float: right; }
        div.user ul li div.h dl dd a.sub {
          height: 46px;
          width: 120px;
          background: #efb81b;
          font: 20px/46px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #fff;
          display: inline-block;
          text-align: center;
          text-decoration: none; }
        div.user ul li div.h dl dd div.fx {
          height: 30px;
          overflow: hidden; }
          div.user ul li div.h dl dd div.fx a.fx {
            padding-left: 18px;
            height: 30px;
            text-decoration: none;
            overflow: hidden;
            display: inline-block;
            background: url("../images/d2.jpg") no-repeat left center;
            font: 16px/30px "微软雅黑", Helvetica, Microsoft YaHei;
            color: #595758;
            margin-right: 28px; }
            div.user ul li div.h dl dd div.fx a.fx.on {
              background: url("../images/d.jpg") no-repeat left center; }
          div.user ul li div.h dl dd div.fx a.fm {
            height: 30px;
            overflow: hidden;
            text-decoration: none;
            display: inline-block;
            font: 16px/30px "微软雅黑", Helvetica, Microsoft YaHei;
            color: #595758; }
        div.user ul li div.h dl dd div.yz {
          height: 30px;
          overflow: hidden;
          width: 380px;
          font: 16px/30px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #595758; }
          div.user ul li div.h dl dd div.yz input {
            width: 240px; }
          div.user ul li div.h dl dd div.yz a.yz {
            width: 100px;
            height: 30px;
            overflow: hidden;
            display: inline-block;
            color: #fff;
            text-align: center;
            background: #efb81b;
            text-decoration: none;
            float: right; }
            div.user ul li div.h dl dd div.yz a.yz.no {
              background: #ccc; }
        div.user ul li div.h dl dd select {
          height: 28px;
          font: 16px/28px "微软雅黑", Helvetica, Microsoft YaHei;
          padding: 0 10px;
          outline: none; }
    div.user ul li div.pic {
      height: auto;
      overflow: hidden;
      border-top: 1px solid #e4e4e5;
      padding-left: 176px;
      padding-top: 25px;
      padding-bottom: 25px; }
      div.user ul li div.pic img {
        max-width: 200px;
        margin-right: 30px;
        float: left; }
      div.user ul li div.pic div.s {
        width: 200px;
        height: auto;
        overflow: hidden;
        float: left;
        display: inline-block; }
        div.user ul li div.pic div.s a {
          width: 200px;
          height: 46px;
          overflow: hidden;
          font: 16px/46px "微软雅黑", Helvetica, Microsoft YaHei;
          display: inline-block;
          text-align: center;
          color: #fff;
          text-decoration: none;
          background: #efb81b; }
        div.user ul li div.pic div.s p {
          font: 12px/22px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #898989;
          text-align: center;
          height: auto;
          overflow: hidden; }
    div.user ul li div.xz {
      display: none; }

@media (max-width: 768px) {
  div.user {
    margin-top: 1.875rem;
    margin-bottom: 6.25rem; }
    div.user ul li {
      min-height: 4rem; }
      div.user ul li span.t {
        width: 100%;
        height: 2rem;
        font: 1.125rem/2rem "微软雅黑", Helvetica, Microsoft YaHei;
        position: static;
        text-indent: 0.625rem; }
      div.user ul li div.c {
        min-height: 2.5rem;
        overflow: hidden;
        margin-left: 0; }
        div.user ul li div.c a.b {
          height: 2.5rem;
          padding-right: 0.875rem;
          margin-right: 0.9375rem; }
        div.user ul li div.c a.sq {
          height: 2.5rem;
          padding-right: 0.875rem;
          margin-right: 0.9375rem; }
        div.user ul li div.c .w1 {
          font: 0.75rem/2.5rem "微软雅黑", Helvetica, Microsoft YaHei;
          padding-left: 0.625rem;
          padding-right: 3.75rem;
          padding-bottom: 0.625rem; }
          div.user ul li div.c .w1 img {
            height: 2.5rem;
            margin-top: 0.75rem; }
        div.user ul li div.c .w2 {
          font: 0.75rem/2.5rem "微软雅黑", Helvetica, Microsoft YaHei;
          padding-left: 0.625rem;
          padding-right: 3.75rem; }
          div.user ul li div.c .w2 img {
            height: 2.5rem;
            margin-top: 0.75rem; }
      div.user ul li div.h {
        padding-left: 0.625rem;
        padding-top: 1.5625rem; }
        div.user ul li div.h dl dd {
          min-height: 1.875rem;
          padding-bottom: 1.75rem;
          padding-left: 0; }
          div.user ul li div.h dl dd span {
            width: 100%;
            height: 1.875rem;
            font: 1rem/1.875rem "微软雅黑", Helvetica, Microsoft YaHei;
            position: static;
            text-indent: 0.625rem; }
          div.user ul li div.h dl dd input {
            height: 1.75rem;
            width: 11.25rem;
            font: 0.875rem/1.75rem "微软雅黑", Helvetica, Microsoft YaHei;
            padding: 0 0.625rem;
            border-color: #ccc; }
          div.user ul li div.h dl dd textarea {
            width: calc(100% - 40px);
            min-height: 5rem;
            font: 1rem/1.75rem "微软雅黑", Helvetica, Microsoft YaHei;
            padding: 0 0.625rem;
            border-color: #cccccc; }
          div.user ul li div.h dl dd p {
            width: 100%;
            height: 1.875rem;
            font: 1rem/1.875rem "微软雅黑", Helvetica, Microsoft YaHei; }
          div.user ul li div.h dl dd a.sub {
            height: 2.875rem;
            width: 7.5rem;
            background: #efb81b;
            font: 1.25rem/2.875rem "微软雅黑", Helvetica, Microsoft YaHei; }
          div.user ul li div.h dl dd div.fx {
            height: 1.875rem; }
            div.user ul li div.h dl dd div.fx a.fx {
              padding-left: 1.125rem;
              height: 1.875rem;
              font: 1rem/1.875rem "微软雅黑", Helvetica, Microsoft YaHei;
              margin-right: 1.75rem; }
            div.user ul li div.h dl dd div.fx a.fm {
              height: 1.875rem;
              font: 1rem/1.875rem "微软雅黑", Helvetica, Microsoft YaHei; }
          div.user ul li div.h dl dd div.yz {
            height: 1.875rem;
            width: 100%;
            font: 1rem/1.875rem "微软雅黑", Helvetica, Microsoft YaHei; }
            div.user ul li div.h dl dd div.yz input {
              width: 11.25rem; }
            div.user ul li div.h dl dd div.yz a.yz {
              width: 6.25rem;
              height: 1.875rem; }
          div.user ul li div.h dl dd select {
            height: 1.75rem;
            font: 1rem/1.75rem "微软雅黑", Helvetica, Microsoft YaHei;
            padding: 0 0.625rem; }
      div.user ul li div.pic {
        padding-left: 0.625rem;
        padding-top: 1.5625rem;
        padding-bottom: 1.5625rem; }
        div.user ul li div.pic img {
          max-width: 6.25rem;
          margin-left: 3.125rem;
          margin-right: 0; }
        div.user ul li div.pic div.s {
          width: 12.5rem;
          margin-top: 0.625rem; }
          div.user ul li div.pic div.s a {
            width: 12.5rem;
            height: 2.875rem;
            font: 1rem/2.875rem "微软雅黑", Helvetica, Microsoft YaHei; }
          div.user ul li div.pic div.s p {
            font: 0.75rem/1.375rem "微软雅黑", Helvetica, Microsoft YaHei; } }

