@charset "UTF-8";
div.textBox {
  max-width: 1000px;
  height: auto;
  overflow: hidden;
  border: 2px solid #ececec;
  margin: 30px auto 0; }
  div.textBox div.t {
    font: 12px/38px "微软雅黑", Helvetica, Microsoft YaHei;
    color: #595758;
    height: 38px;
    overflow: hidden;
    padding-left: 24px; }
    div.textBox div.t a {
      text-decoration: none;
      color: #595758; }
  div.textBox h1 {
    font: 50px/100px "微软雅黑", Helvetica, Microsoft YaHei;
    color: #595758;
    height: auto;
    overflow: hidden;
    text-align: center; }
    div.textBox h1 a {
      text-decoration: none;
      color: #595758; }
  div.textBox div.textCon {
    height: auto;
    overflow: hidden; }
    div.textBox div.textCon img {
      margin: 0 auto;
      margin-top: 20px;
      margin-top: 20px;
      max-width: 100%; }
    div.textBox div.textCon p {
      font: 14px/30px "微软雅黑", Helvetica, Microsoft YaHei;
      color: #7d7d7e;
      height: auto;
      overflow: hidden;
      padding: 10px 12px 0; }
      div.textBox div.textCon p a {
        text-decoration: none;
        color: #7d7d7e; }
  div.textBox div.b {
    margin-top: 50px;
    height: auto;
    padding-left: 5px; }
    div.textBox div.b a {
      height: 38px;
      overflow: hidden;
      padding: 0 15px;
      color: #fff;
      font: 18px/38px "微软雅黑", Helvetica, Microsoft YaHei;
      display: inline-block;
      margin: 0 12px;
      vertical-align: top;
      text-decoration: none; }
  div.textBox div.b2 {
    height: auto;
    overflow: hidden; }
    div.textBox div.b2 span.r {
      float: right;
      height: 24px; }
      div.textBox div.b2 span.r a {
        font: 12px/24px "微软雅黑", Helvetica, Microsoft YaHei;
        color: #7d7d7e;
        text-decoration: none;
        padding-left: 24px;
        margin: 0 12px;
        height: 24px;
        display: inline-block; }
        div.textBox div.b2 span.r a.p {
          background: url("../images/pl.jpg") no-repeat left center; }
        div.textBox div.b2 span.r a.x {
          background: url("../images/xx.jpg") no-repeat left center; }
        div.textBox div.b2 span.r a.t {
          background: url("../images/t.jpg") no-repeat left center; }
        div.textBox div.b2 span.r a.f {
          background: url("../images/f.jpg") no-repeat left center; }

div.messBox {
  height: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 40px; }
  div.messBox h3 {
    font: 18px/52px "微软雅黑", Helvetica, Microsoft YaHei;
    color: #231815;
    height: 52px;
    overflow: hidden;
    padding: 0 16px 0 24px;
    border-top: 2px solid #ececec; }
    div.messBox h3 span {
      font: 12px/52px "微软雅黑", Helvetica, Microsoft YaHei;
      color: #7d7d7e;
      height: 52px;
      display: inline-block;
      margin-left: 24px; }
      div.messBox h3 span a {
        text-decoration: none;
        color: #7d7d7e; }
  div.messBox div.mess {
    height: auto;
    overflow: hidden;
    border-top: 2px solid #ececec;
    position: relative;
    padding: 24px 16px 24px 0; }
    div.messBox div.mess div.c {
      margin-left: 74px;
      height: auto;
      overflow: hidden; }
      div.messBox div.mess div.c div.area {
        height: auto;
        overflow: hidden;
        padding: 10px;
        border: 1px solid #ccc; }
      div.messBox div.mess div.c textarea {
        width: 100%;
        min-height: 100px;
        background: #f7f7f7;
        border: 0;
        color: #222;
        font: 14px/26px "微软雅黑", Helvetica, Microsoft YaHei;
        outline: none; }
      div.messBox div.mess div.c div.sub {
        text-align: right;
        margin-top: 8px; }
        div.messBox div.mess div.c div.sub span {
          font: 18px/40px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #9f9e9f;
          display: inline-block;
          vertical-align: top; }
        div.messBox div.mess div.c div.sub a.sub {
          width: 102px;
          height: 40px;
          color: #fff;
          font: 18px/40px "微软雅黑", Helvetica, Microsoft YaHei;
          text-align: center;
          display: inline-block;
          text-decoration: none;
          background: #efb81b;
          vertical-align: top; }
        div.messBox div.mess div.c div.sub a.clos {
          width: 102px;
          height: 38px;
          color: #595758;
          font: 18px/40px "微软雅黑", Helvetica, Microsoft YaHei;
          text-align: center;
          display: inline-block;
          text-decoration: none;
          border: 1px solid #8a8a89;
          vertical-align: top;
          margin-left: 10px; }
      div.messBox div.mess div.c h4 {
        font: 18px/22px "微软雅黑", Helvetica, Microsoft YaHei;
        color: #efb91b;
        height: 22px;
        overflow: hidden; }
        div.messBox div.mess div.c h4 a {
          text-decoration: none;
          color: #efb91b; }
        div.messBox div.mess div.c h4 span {
          color: #8a8a8a; }
        div.messBox div.mess div.c h4 a {
          color: #595758;
          text-decoration: none; }
      div.messBox div.mess div.c div.s {
        height: 16px;
        overflow: hidden;
        font: 12px/16px "微软雅黑", Helvetica, Microsoft YaHei;
        color: #7d7d7e;
        margin-top: 3px; }
        div.messBox div.mess div.c div.s a {
          text-decoration: none;
          color: #7d7d7e; }
      div.messBox div.mess div.c p {
        font: 12px/32px "微软雅黑", Helvetica, Microsoft YaHei;
        color: #7d7d7e;
        height: auto;
        overflow: hidden;
        margin-top: 10px; }
        div.messBox div.mess div.c p a {
          text-decoration: none;
          color: #7d7d7e; }
      div.messBox div.mess div.c div.b {
        height: 40px;
        overflow: hidden;
        margin-top: 0;
        font: 12px/40px "微软雅黑", Helvetica, Microsoft YaHei;
        color: #9f9e9f; }
        div.messBox div.mess div.c div.b a {
          font: 12px/40px "微软雅黑", Helvetica, Microsoft YaHei;
          color: #9f9e9f;
          text-decoration: none;
          display: inline-block;
          vertical-align: top; }
        div.messBox div.mess div.c div.b a.t {
          padding-left: 25px;
          background: url("../images/t.jpg") no-repeat left center; }
        div.messBox div.mess div.c div.b span {
          height: 40px;
          overflow: hidden;
          display: inline-block;
          float: right; }
        div.messBox div.mess div.c div.b a.x {
          padding-left: 25px;
          background: url("../images/xxx.jpg") no-repeat left center;
          padding-right: 8px;
          margin-left: 8px; }
          div.messBox div.mess div.c div.b a.x.on {
            background: url("../images/xx.jpg") no-repeat left center; }
        div.messBox div.mess div.c div.b a.z {
          padding-left: 8px; }
    div.messBox div.mess div.head {
      width: 50px;
      min-height: 40px;
      padding-left: 24px;
      position: absolute;
      left: 0;
      top: 24px; }
      div.messBox div.mess div.head img {
        width: 40px;
        height: 40px;
        vertical-align: top; }
  div.messBox ul li {
    height: auto;
    overflow: hidden; }

@media (max-width: 768px) {
  div.textBox {
    border: 0.125rem solid #ececec;
    margin: 1.875rem auto 0; }
    div.textBox div.t {
      font: 0.75rem/2.375rem "微软雅黑", Helvetica, Microsoft YaHei;
      height: 2.375rem;
      padding-left: 1.5rem; }
    div.textBox h1 {
      font: 1.5rem/3rem "微软雅黑", Helvetica, Microsoft YaHei;
      padding: 0 0.625rem;
      text-align: left; }
    div.textBox div.textCon img {
      margin: 0 auto;
      margin-top: 1.25rem;
      max-width: 100%; }
    div.textBox div.textCon p {
      font: 0.875rem/1.875rem "微软雅黑", Helvetica, Microsoft YaHei;
      padding: 0.625rem 0.625rem 0; }
    div.textBox div.b {
      margin-top: 3.125rem;
      padding-left: 0.3125rem; }
      div.textBox div.b a {
        height: 2.375rem;
        padding: 0 0.9375rem;
        font: 1.125rem/2.375rem "微软雅黑", Helvetica, Microsoft YaHei;
        margin: 0 0.75rem; }
    div.textBox div.b2 span.r {
      height: 1.5rem; }
      div.textBox div.b2 span.r a {
        font: 0.75rem/1.5rem "微软雅黑", Helvetica, Microsoft YaHei;
        padding-left: 1.5rem;
        margin: 0 0.75rem;
        height: 1.5rem; }
  div.messBox {
    margin-top: 2.5rem; }
    div.messBox h3 {
      font: 1.125rem/3.25rem "微软雅黑", Helvetica, Microsoft YaHei;
      height: 3.25rem;
      padding: 0 1rem 0 1.5rem;
      border-top: 0.125rem solid #ececec; }
      div.messBox h3 span {
        font: 0.75rem/3.25rem "微软雅黑", Helvetica, Microsoft YaHei;
        height: 3.25rem;
        margin-left: 1.5rem; }
    div.messBox div.mess {
      border-top: 0.125rem solid #ececec;
      padding: 1.5rem 1rem 1.5rem 0; }
      div.messBox div.mess div.c {
        margin-left: 4.625rem; }
        div.messBox div.mess div.c div.area {
          padding: 0.625rem; }
        div.messBox div.mess div.c textarea {
          font: 0.875rem/1.625rem "微软雅黑", Helvetica, Microsoft YaHei; }
        div.messBox div.mess div.c div.sub {
          margin-top: 0.5rem; }
          div.messBox div.mess div.c div.sub span {
            font: 1.125rem/2.5rem "微软雅黑", Helvetica, Microsoft YaHei; }
          div.messBox div.mess div.c div.sub a.sub {
            width: 6.375rem;
            height: 2.5rem;
            font: 1.125rem/2.5rem "微软雅黑", Helvetica, Microsoft YaHei; }
          div.messBox div.mess div.c div.sub a.clos {
            width: 6.375rem;
            height: 2.375rem;
            font: 1.125rem/2.5rem "微软雅黑", Helvetica, Microsoft YaHei;
            margin-left: 0.625rem; }
        div.messBox div.mess div.c h4 {
          font: 1.125rem/1.375rem "微软雅黑", Helvetica, Microsoft YaHei;
          height: auto; }
        div.messBox div.mess div.c div.s {
          height: auto;
          font: 0.75rem/1rem "微软雅黑", Helvetica, Microsoft YaHei;
          margin-top: 0.1875rem; }
        div.messBox div.mess div.c p {
          font: 0.75rem/2rem "微软雅黑", Helvetica, Microsoft YaHei;
          margin-top: 0.625rem; }
        div.messBox div.mess div.c div.b {
          height: 2.5rem;
          font: 0.75rem/2.5rem "微软雅黑", Helvetica, Microsoft YaHei; }
          div.messBox div.mess div.c div.b a {
            font: 0.75rem/2.5rem "微软雅黑", Helvetica, Microsoft YaHei;
            margin: 0; }
          div.messBox div.mess div.c div.b a.t {
            padding-left: 1.5625rem; }
          div.messBox div.mess div.c div.b span {
            height: 2.5rem; }
          div.messBox div.mess div.c div.b a.x {
            padding-left: 1.5625rem;
            padding-right: 0.5rem;
            margin-left: 0.5rem; }
          div.messBox div.mess div.c div.b a.z {
            padding-left: 0.5rem; }
      div.messBox div.mess div.head {
        width: 3.125rem;
        min-height: 2.5rem;
        padding-left: 1.5rem;
        left: 0;
        top: 1.5rem; }
        div.messBox div.mess div.head img {
          width: 2.5rem;
          height: 2.5rem; } }

