.add-img-box{
	position: relative;
	margin-top: 1rem; 
}
.avatar-form .hide-inputfile{
	position: absolute;
 	top: 0%;
 	opacity: 0;
 	width: 100%;
 	height: 100%;

}
.avatar-form .hide-inputfile input{
	width: 100%;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
}