.h5model .modelbg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(140,122,122,0.51);
}
.h5model .modelbody{
	display: none;
	position: absolute;
	left: 10%;
	top: 10%;
	padding:1rem;
	width: 80%;
	height: 70%;
	border-radius: 2px;
	box-shadow: 0 0 5px #B3B1B1;
	background-color: #fff;	
	transition: top .3s linear;
}
.h5model .modelbody.on{
	display: block;
	-webkit-animation:modelshow .3s linear forwards;
}
.h5model .msg{
	position: absolute;
	top: -3rem;
	left: 30%;
	width: 40%;
	height: 3rem;
	text-align: center;
	line-height: 3rem;
	color: #fff;
}
.h5model .msg.success{
	background-color: #42EF45;
	-webkit-animation:msgshow 2s linear forwards;
}
.h5model .msg.error{
	background-color: #F9724C;
	-webkit-animation:msgshow 2s linear forwards;
}
@-webkit-keyframes modelshow{
	100%{top:12%;}
}
@-webkit-keyframes msgshow{
	0%{ top :-3rem }
	25%,75%{top: 0rem}
	100% {top:-3rem;}
}